.container {
    width:400px;
    margin-left:auto;
    margin-right:auto;
}
.row {
    overflow:hidden;
}
.game-space {
    float:left;
    width:33.333%;
    height:150px;
    border:black 10px solid;
    box-sizing:border-box;
}